<mat-card *ngIf="user">
    <h1 class="upadd">Your Profile Details</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="row">
                    <div class="container text-center">
                        <img src="/assets/boy.png"
                        class="profile-image"
                        alt="Image Not Found">
                        <h1 class="mt10">{{user.firstName}} {{user.lastName}}</h1>
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <!-- Table details -->
                        <table class="table text-center">
                            <tr *ngIf="user.username">
                                <td>Username</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr *ngIf="user.id">
                                <td>Userid</td>
                                <td>EXAM{{user.id}}</td>
                            </tr>
                            <tr *ngIf="user.phone">
                                <td>Phone</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"ACTIVE":"NOT_ACTIVE"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
