<h2 mat-dialog-title>Contact Us</h2>
<mat-dialog-content class="mat-typography">
    <div class="container">
        <img src="../../../../assets/contact.png" alt="Server Error !!!">
    </div>
    <div>
    <span style="color: black; font-weight: bold;">Query Mail At : 
      <a  href="mailto:virtualsociety274@gmail.com" style="text-decoration: none; border: none; color: blue; font-weight: 400;">virtualsociety274</a></span>
    </div>
    <div>
    <span style="color: black; font-weight: bold;">Address : 
      <a style="text-decoration: none; border: none; color: blue; font-weight: 400;">University Of Okara</a></span>
    </div>
   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" mat-dialog-close>Close</button>
  </mat-dialog-actions>
