<div class="container">
    <mat-card>
        <mat-card-title>FORGOT PASSWORD</mat-card-title>
        <mat-card-content>
            <form [formGroup]="sendOtpForm">
                <!-- Email -->
                <mat-form-field appearance="outline">
                    <mat-label>Enter Email Here</mat-label>
                    <input matInput formControlName="email" placeholder="Email" required>
                  <mat-hint style="color: blue;">Please enter a valid Email</mat-hint>
                </mat-form-field>
                
                <!-- Submit Button -->
                <button mat-raised-button color="primary" (click)="formSubmit()" [disabled]="sendOtpForm.invalid">Send OTP</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>