<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-6">
            <mat-card>
                <img src="/assets/user.gif" alt="">
                <mat-card-title routerLink="/admin/view-users">Users</mat-card-title>
            </mat-card>
        </div>
        <div class="col-md-6">
        <mat-card>
            <img src="/assets/list.gif" alt="">
            <mat-card-title routerLink="/admin/categories">Categories</mat-card-title>
        </mat-card>
        </div>
        <div class="col-md-6">
        <mat-card>
            <img src="/assets/online-quiz.gif" alt="">
            <mat-card-title routerLink="/admin/quizzes">Quizzes</mat-card-title>
        </mat-card>
        </div>
        <div class="col-md-6">
        <mat-card>
            <img src="/assets/view-page.gif" alt="">
            <mat-card-title routerLink="/admin/search-by-name">Search</mat-card-title>
        </mat-card>
        </div>
        <div class="col-md-6">
        <mat-card>
            <img src="/assets/manual.gif" alt="">
            <mat-card-title routerLink="/admin/view-books">Books</mat-card-title>
        </mat-card>
        </div>
        <div class="col-md-6">
        <mat-card>
            <img src="/assets/content.gif" alt="">
            <mat-card-title routerLink="/admin/view-all-blogs">Blogs</mat-card-title>
        </mat-card>
        </div>
    </div>
  </div>
  
