<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="upadd">Available Quizzes</h1>
        <div class="row mt20" *ngIf="quizzes">
            @for(q of quizzes;track q){
            <div class="col-md-4">
                <mat-card class="mb20">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{ q.title }}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{ q.category.title }}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">{{ q.description }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-stroked-button color="accent" [routerLink]="'/user-dashboard/instructions/'+q.qId" class="ml10">START</button>
                        <button mat-button color="accent">Questions : {{ q.numberOfQuestions }}</button>
                      </mat-card-actions>
                </mat-card>
            </div>
        }
        <div class="col-md-12" *ngIf="quizzes.length==0">
            <mat-card style="height: 60%;">
                <mat-card-header>
                    <mat-card-title>No Data Found</mat-card-title>
                    <mat-card-subtitle>Category</mat-card-subtitle>
                  </mat-card-header>
                 <div class="text-center">
                    <img mat-card-image src="/assets/error-404.png" height="40%">
                    <h1 class="mt10">No quiz fall's in this category</h1>
                 </div>
            </mat-card>
        </div>
        </div>
    </div>
</div>
