<div class="landing-container">
<section id="about">
    <p class="section__text__p1">Get To know About</p>
    <h1 class="title">Our Team Member's</h1>
  </section>

  <div class="cards">
    <div class="card">
      <div class="icon">
          <img class="image-height" src="assets/teamPhoto/ehsan.jpg" alt="Server Error !!!">
      </div>
      <p class="title-card">Ehsan ul khaliq</p>
      <p class="text">Java , Spring Boot and Angular Developer.</p>
    </div>
  
    <div class="card">
      <div class="icon">
          <img class="image-height" src="assets/teamPhoto/mohsin.jpg" alt="Server Error !!!">
      </div>
      <p class="title-card">Mohsin</p>
      <p class="text"> JavaScript And Mysql Developer.</p>
    </div>
  
    <div class="card">
      <div class="icon">
          <img class="image-height" src="assets/teamPhoto/Ali.jpeg" alt="Server Error !!!">
      </div>
      <p class="title-card">Ali Hassan</p>
      <p class="text">Java and TypeScript Developer</p>
    </div>
  </div>

  <section id="about">
    <p class="section__text__p1">Our Respected</p>
    <h1 class="title">Supervisor</h1>
  </section>
  <div style="display: flex; align-items: center; justify-content: center;">
    <div class="card">
        <div class="icon">
            <img class="image-height" src="assets/woman.png" alt="Server Error !!!">
        </div>
        <p class="title-card">Maam Ifrah Pervaiz</p>
        <p class="text">Lecturer , University Of Okara.</p>
      </div>
  </div>
 


  <mat-divider></mat-divider>
  <footer>
    <div class="footer-content">
      <p>&copy; 2024 Learning Purpose. All rights reserved.</p>
    </div>
  </footer>
</div>